/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 50px;
  padding: 0 20px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #ccc;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.logout {
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: underline;
}

/* Sidebar styling */
.sidebar {
  background-color: #f2f2f2;
    width: 200px;
    height: 50vh;
    position: fixed;
    top: 50px;
    transition: left 0.2s ease-in-out;}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.sidebar-menu-item {
  margin-bottom: 10px;
}

.sidebar-menu-link {
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.sidebar-menu-link:hover {
  color: #666;
}

/* Show sidebar when the hamburger menu is clicked */
.show-sidebar {
  left: 0;
}